# Association rules 
Association rules analysis is a technique to uncover how items are associated to each other. There are three common ways to measure association.

Measure 1: Support. This says how popular an itemset is, it is number of times appear in total number of transaction. in other word we say frequency of item.

Measure 2: Confidence. This says how likely item Y is purchased when item X is purchased, expressed as {X -> Y}. This is measured by the proportion of transactions with item X, in which item Y also appears.

Measure 3: Lift. it is ratio of expected confidance to observed confidance. it is described as confidance of Y when item X was already known(x/y) to the confidance of Y when X item is unknown. in other words confidance of Y w.r.t. x and confiadnce of Y without X (means both are independent to each other).

# Problem statement 
    
Imagine being a shop owner eager to boost sales by introducing new offers to your valued customers by using the power of Association Rule Learning to uncover meaningful connections, between various products purchased by different pepole. The centerpiece of this initiative is an irresistible    'buy one, get one free' promotion, strategically tailored to complement customers' purchasing patterns.

By employing Association Rules Learning, you'll pinpoint robust rules that signal a high likelihood of customers buying one product if they've purchased another. Essentially, when they acquire a specific item, the odds are they'll be interested in a complementary product, which they'll receive gratis.

To kickstart this endeavor, you, as the owner, recognize the need to gather data. Every week, you diligently amass transactional records of your customers' purchases. At the close of each week, you entrust this valuable dataset to the data scientist, ensuring they have the necessary information to unearth the most effective deals you can extend to your clientele.

# Importing the librariesÂ¶

In [2]:
#pip install apyori

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Note:
for the first time we are not using scikit-learn 


we will be using Apriori

# Data Preprocessing

In [39]:
df = pd.read_csv('Market_Basket_Optimisation.csv')

In [40]:
df.head()
#notice that in the other projects we work on, it normally contains names of the coloumns , but this doesnt   
#check the notes or Excel

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#we need spacify that we dont have coloumn names in our dataset using the Header funtion
df = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

In [42]:
df.head()
#each row of the dataset correspnds to different dataset i:e  each row represents for a different customer

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.shape

(7501, 20)

In [45]:
#replace all the nan values with 0 and inplace=True to commit the changes into the dataframe
df.fillna(0,axis=1,inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [46]:
### we created a empty list
transactions = []
#using a For loop to populate the list of transactions contained in our pandas dataframe data set


# i which will take all the values from 0 to 7500 but remeber that the last one will be excluded,  so will have to go up to 7501
for i in range(0, 7501):  
    
  transactions.append([str(df.values[i,j]) for j in range(0, 20)])


#append([])

# Note


#step1---To add an item to the end of the list, use the append()---we will add the different transactions of the dataset 1 by 1
transactions.append()



                   * 
#step2--- append( []  )-- we have to use a square bracket because it will contain all the different products purchased by the customer and this "transaction" must be created as a list of products.





step3---- we will do a single role ""for loop"", reason is that we need to get a second "for loop" to get all the products for each transcations.

----the first "for loop" counted for rows i:e from 0 to 7500

---the second will loop over the different prodcuts in each transactions i:e  it will count for each coloumns
   
   
-----transaction.append([for j in range(0, 20)])   ---- 
   
   
-----next we need to get the values from the dataset into the loop
                      
                       *     
transactions.append([(df.values[]) for j in range(0, 20)])



step4--

#to add the index of the role we want to inpute in this transcation-----that will be "i"  because i iterates through all the rows of the dataset down

"i" will start from zero down, selectiong the rows

and 

then the index we want for j 
                                * *
 transactions.append([df.values[i,j] for j in range(0, 20)])
 
 
 step 5
 we almost have everything, the only thing that is left is the feature that we will use to train our Apriori model on the list has to be on "strings" orderwise the apriori model wont be able to learn the rules.
 
 we added     "str"

--in order to make sure that this are "strings" we will be added a str funtion
     *
   str(dataset.values[i,j])
   
   
                      *                    *
transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

# Training the Apriori on the dataset

In [ ]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [ ]:
#we imported apriori Function

 
#different parameters
  *
#(transactions)This parameter should be a dataset containing transactions. it comes with apriori


 *
#(min_support)
#It determines how frequently an itemset should occur in the dataset
# 0.003 means that an itemset must occur in at least 0.3% of the transactions to be considered significant.
#remember that we have in total 7501 transactions that was recorded one full week, and among this 7501 transactions we want to get
#the most relevant rules.. and this is where the support parameter comes in.

          
    
 #3 how many times the product appears per-day 
 #7 because 7501 transactions are recorded over a week
 # dividing by 7501 total Transactions

#we want to see 3 times per day of the product-- 3*7/7501 = 0.0027 and we can round that up to 0.003 which will be our minimum support 



 *
#(min_confidence)
#for this 0.2, this is the best to use cause it gives the best result


*
#(min_lift)
#it meausres the relevans of a rule
#many association rule learning that they normally build, a good lift is at least "3", 6 7 8- but lift below three makes the rule not that relevant


*
#the min length and Max length are very important, and we want to identify the best deals that is,  buy product A and get one the other one for free 
#therefor the rules we will use will have only two products 

#(min_length = 2)

#and 

#(max_length= 2)   so that our rule can have only two products



#minimum length means left   and
# max_length right 
#this is based on how products are arranged

# Visualising the results 
to see the support, confidence and lift. we will see most of the products buy one and get another one for free. we will see which food goes well with some other food for these french people in the south of france

#### Displaying the first results coming directly from the output of the apriori function

In [48]:
#we just want to have our rules into a list so that when we display the results we will get all our rows in list

resublts = list(rules)

In [49]:
print(results)

[RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]), RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]), RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]), RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]), RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]), RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]), RelationRecord(items=frozenset({'light cream', 'olive oil'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]), RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]), RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

In [ ]:
[RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'})

In [31]:
# step"1" 

-hight the first row i:e the first rule

first products are "light cream" and "chicken"  note-this doesnt mean if customer buy light creams that means they will buy chicken


-go to the  >>>"Items base"

Items base is =  "light cream"

items add = "chicken"
so that means the left hand side is light cream and the right hand side is chicken 

>>so that means that if people buy "Light cream", they will have a high chance of buying "chicken" 
and the high chance is measured by the <<Confidence>> which is 0.29


so this means if customers buy light cream, then they will have 29% chance of buying chicken >> this combination is normally done in france
    

    
    
>>lift  4.84 which is good and all our rules here will have a lift larger than three


-the support is 00.45 % meaning that the rule containing this two products appears in o.o45% of the transactions

SyntaxError: invalid syntax (3978124828.py, line 3)

In [ ]:
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])

In [ ]:
# step"2" 

-hight the 2 row i:e the 2 rule

the products are "Mushroom cream sauce" and "escalope"

the item base = "Mushroon Cream sauce"
and
the items add is = "escalope"

so that means that if people buy "Mushroom cream saucem", they will have a high chance of buying "escalope" 
and the high chance is measured by the <<Confidence>> which is 0.30%

lift  3.79 which is good 

support is 0.005

## putting the results well organised into a pandas Dataframe

1-we are going to organize the rules into a well organised dataframe

2-we will also be able to sort the rules in a descending metric (check the lift and see that they are not sorted)

In [ ]:
# 1hr will take the products in the left side of the rule meaning the products in the left side of the rule
# rhs this will take the products in the right side of the rule 
# then the supports of all the rules
#the confidences
#the lift of these rules

#the Return will return all the rules of the left hand side and the right hand side, and then the support, confidences and lift  inside a list-- thats why we have list funtion

#--at the end, we create a pandasdataFrame which takes contains the inspect funtion with the results and we add the coloumn names 

#the first coloumn will br the left hand side of the rule

# second coloumn will be the right hand side of the rule 

#third coloumn will be support 

#fourth the confidence

#firth the list

#so we will have a super nice table with these coloumns and giving all the important information of the rules 




#how we will get the elements in the rules     [2][0][0])[0] 


#[RelationRecord(items=frozenset({'light cream', 'chicken'})-- this is for the elemts in index 0 

# support=0.004532728969470737-- this is for the elements for index 1

                 #    *list started here(OrderedStatistic to the end)
#--ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'} is for the index for 2


#--now we want to access that elements of index "2"
# then we will access the elemts of index "0" meaning the first elements of that list 
#the index elements is --items_base=frozenset({'light cream'}  which is indeed the left hand side (1hs) for items we want to get 


#rhs-----for the right hand side  index "0"
#   items_add=frozenset({'chicken'}


#supports is easy

In [50]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

# Displaying the results non sorted

In [51]:
resultsinDataFrame

         Left Hand Side Right Hand Side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         fromage blanc           honey  0.003333    0.245098  5.164271
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
6           light cream       olive oil  0.003200    0.205128  3.114710
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
8                 pasta          shrimp  0.005066    0.322034  4.506672

In [ ]:
#if customers buy light cream then they would have 0.29% chance of buying chicken
#
#support stands for 0.004 percent of the transaction

#and have a lift of 4.8 which is good

In [ ]:
    
#if people buy mushroom cream sauce and they have a good chance of buying escalope and the good chance is 30% 
#and has a list of 3.7% which is good

In [ ]:
#if people buy pasta they will have a good chance of buying escalope which is 0.37 %

In [ ]:
#fromage blanc is a great combination in france
#when you buy fromage blanc, you will have a good chance of buying honey 
#cause its having a high lift, we will advice them to make this rule buy one and get one for free

# Displaying the results sorted by descending lifts

In [52]:
resultsinDataFrame.nlargest(n = 10, columns = 'Lift')

         Left Hand Side Right Hand Side   Support  Confidence      Lift
3         fromage blanc           honey  0.003333    0.245098  5.164271
0           light cream         chicken  0.004533    0.290598  4.843951
2                 pasta        escalope  0.005866    0.372881  4.700812
8                 pasta          shrimp  0.005066    0.322034  4.506672
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
6           light cream       olive oil  0.003200    0.205128  3.114710

In [ ]:
#we have the list sorted from the highest to the lowest

#like we said before, french people like to use fromage blanc with honey,, so any time you go to a french resturant you will see
#in their meanue which says that if you buy Fromage blanc, you will get honey for free

#if i was the owner of the shop, i will make this rule-- buy Fromage blanc and get honey for free